<%= turbo_frame_tag timesheet  do %>
  <div class="table-row" id="<%= dom_id timesheet %>">
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.start_at %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.sunday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.monday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.tuesday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.wednesday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.thursday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.friday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.saturday %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= timesheet.work_order.project.description %>
    </div>
    <div class="table-cell border-b dark:border-slate-600 p-4 pl-8 dark:text-slate-200 text-left">
      <%= button_to "Delete", timesheet_path(timesheet), method: :delete, form: { style: "display: inline-block" }  %>
      <%= link_to "Edit", edit_timesheet_path(timesheet) %>
    </div>
  </div>
<% end %>
