<%= turbo_stream_from "vendors" %>
<div class="container mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Vendors</h1>
  </div>
  <div class="table w-full mt-10">
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Name
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Address
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Unit
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Postal Code
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          City
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Province
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Country
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left">
          Company
        </div>
        <div class="table-cell border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left"></div>
      </div>
    </div>
    <div class="table-row-group">
      <%= turbo_frame_tag Vendor.new do %>
        <%= render partial: "form", locals: { vendor: Vendor.new, companies: @companies } %>
      <% end %>
      <%= turbo_frame_tag "vendors" do %>
        <% @vendors.each do |vendor| %>
          <%= render vendor %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
